:root {
  --navbar: rgb(250, 250, 250);
  --background: rgb(230, 230, 230);
  --text: rgb(40, 40, 40);
  --primary: rgb(240, 0, 140);
  --primary-overlay: rgba(237, 0, 140, 0.4);
  --secondary: rgb(14, 190, 255);
  --secondary-overlay: rgba(14, 190, 255, 0.4);
}

@font-face {
  font-family: "heading-font";
  src: url(assets/LoveloLineBold.otf);
}

@font-face {
  font-family: "body-font";
  src: url(assets/SanFranciscoRegular.ttf);
}

* {
  color: var(--text);
  font-family: "body-font";
}

body {
  background-color: var(--background);
}

.body {
  padding-top: 32px !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary) !important;
  font-family: "heading-font" !important;
  text-transform: uppercase;
}

.navbar {
  color: var(--text) !important;
  background-color: var(--navbar);
}

.navbar-brand {
  color: var(--primary) !important;
  font-family: "heading-font";
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0px;
}

.user-displayname {
  color: var(--text);
}

.user-displayname:hover {
  color: var(--primary);
}

.headline {
  height: 500px;
  background: url("assets/home.jpg");
  background-position: 50% 50% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.headline-mask {
  padding: 16px 0px;
}

.rgba-black-strong {
  background-color: var(--primary-overlay);
}

.what {
  padding: 16px 0px;
}

.artist-card {
  padding-bottom: 32px;
}

.artist-img {
  object-fit: cover;
  width: 100%;
  height: 360px;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.overlay {
  background-color: var(--primary-overlay) !important;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 767px) {
  .nav-item {
    padding: 8px 0px !important;
  }
}

@media (min-width: 768px) {
  .nav-item {
    padding: 8px 16px !important;
  }
}
